body {
  font-family: "Poppins", sans-serif;
}
section {
  height: 500px;
  background-color: white;
  border: solid black 1px;
}
.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}
footer {
  height: 500px;
  background-color: black;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}
li {
  text-decoration: none;
}
h1 {
  font-size: 90px;
  margin: 0;
}
p {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
}
.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  padding-top: 5px;
  margin-top: 20px;
}
.button:hover {
  background-color: #ef744b;
}
.button:active {
  background-color: #a9a9a9;
  color: #808080;
}
.socials {
  padding-bottom: 200px;
}
.logo {
  height: 80px;
  margin: 30px;
}
.social {
  margin: 20px;
}
