body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
section {
  background-color: white;
}
/* landing page styling */
.hero {
  background-color: #777e6d;
  height: 100vh;
  color: white;
  font-size: 40px;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
  margin-left: 720px;
}
li {
  text-decoration: none;
}
h1 {
  font-size: 90px;
  margin: 0;
}
h2 {
  font-size: 50px;
}
p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}
.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  margin-right: 20px;
  margin-bottom: 200px;
  margin-left: 60px;
}
.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: orangered;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  padding-top: 5px;
  margin-top: 20px;
}
.button:hover {
  background-color: rgb(255, 51, 0);
}
.button:active {
  background-color: #a9a9a9;
  color: #808080;
}
.socials {
  padding-bottom: 200px;
}
#resume {
  font-size: 62px;
}
.logo {
  height: 80px;
  margin: 20px;
}
.social {
  margin: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.hamburger {
  display: none;
}
.hamburger:focus {
  outline: 0;
}
/* About me section styling */
.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}
.headshot {
  width: 300px;
  border-radius: 150px;
  margin-left: 80px;
}
.headshot-container {
  display: flex;
  align-items: center;
}
/* Project section styling */
.sub-text {
  font-size: 45px;
}
#projects-text {
  font-size: 18px;
  font-weight: 300;
}
.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
}
.project-container {
  display: flex;
  justify-content: space-around;
}
.project-image {
  margin-top: 25px;
  width: 250px;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}
.project-link {
  text-decoration: none;
  color: orangered;
}
/* contact section styling */
footer {
  background-color: #777e6d;
  color: white;
  text-align: center;
  padding: 80px;
}
/* media queries for projects & about section */
@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
  .project-card {
    padding: 10px;
  }
  .headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sub-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 80px;
  }
}
/* media queries for landing page */
@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }
  ul {
    display: none;
    background-color: #777e6d;
    margin: 0px;
  }
  ul.show {
    display: block;
    background-color: #858b7b;
  }
  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #858b7b;
  }
  .logo {
    display: none;
  }
  .hero-text {
    margin-left: 80px;
    margin-bottom: 160px;
  }
}
